<section>
  <h1>Links</h1>
  <ul>
    <li><a href="http://414112390.qzone.qq.com/" rel="me" target="_blank">我的QQ空间</a></li>
    <li><a href="http://www.kidsang.com/" target="_blank">树桑小朋友的自留地</a></li>
    <li><a href="http://xiaoxia.org/" target="_blank">XIAOXIA[PG]</a></li>
    <li><a href="http://huanghuachao.cn/">Richard Huang's Blog</a></li>
    <li><a href="http://jiafei.org/" target="_blank">jiafei</a></li>
    <li><a href="http://xuyufish.com/" target="_blank">Fish</a></li>
    <li><a href="http://zhke.name/" target="_blank">汗青-home</a></li>
    <li><a href="http://www.dorgel.net/blog" target="_blank">Dorgel&#039;s Blog</a></li>
    <li><a href="http://spead.everet.org" title="俊杰的空间" target="_blank">Spead&#039;s Blog</a></li>
  </ul>  
</section>
