<section>
  <h1>Friends</h1>
    <a href="http://www.kidsang.com/" rel="nofollow" target="_blank">树桑小朋友的自留地</a>
    | <a href="http://zheng-ji.info/" rel="nofollow" target="_blank">织网</a>
    | <a href="http://dryself.com/" rel="nofollow" target="_blank">Don't Repeat Yourself</a>
    | <a href="http://jiafei.org/" rel="nofollow" target="_blank">jiafei</a>
    | <a href="http://xuyufish.com/" rel="nofollow" target="_blank">Fish</a>
    | <a href="http://www.dorgel.net/blog" rel="nofollow" target="_blank">Dorgel&#039;s Blog</a>
    | <a href="http://spead.org" title="俊杰的空间" rel="nofollow" target="_blank">Spead&#039;s Blog</a>
</section>






