.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
_deploy
public
sass.old
source.old
source/_stash
source/stylesheets/screen.css
vendor
node_modules
.preview-mode
.directory
*~
source/imgs/graphviz
/org-wiki/sitemap.org
source/notes/
.integrate-status
.isolate-status
.\#*
\#*
