.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
_deploy
public
sass.old
source.old
source/_stash
source/stylesheets/screen.css
vendor
node_modules
.preview-mode
.directory
*.~

source/_includes/custom/asides/tags.html~
source/_includes/custom/asides/recent_comment.html~
source/_includes/custom/asides/recent_comments.html~
