<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/archives/">Archives</a></li>
  <li><a href="{{ root_url }}/notes/">Notes</a></li>
  <li><a href="{{ root_url }}/my-works/">Works</a></li>
  <li><a href="http://414112390.qzone.qq.com/4" target="_blank">Albums</a></li>
  <!-- <li><a href="{{ root_url }}/liuyana/">Msg Board</a></li> -->
  <li><a href="{{ root_url }}/about-me/">About Me</a></li>
  <li><a href="http://github.com/cedricporter" target="_blank">et@github</a></li>
</ul>
